---
layout: default
---

<div class="posts">

{% assign importanttopics = site.topics | where:"importance","high"  | sort: 'sequence' %}     
{% assign lowtopics = site.topics | where:"importance","low"  | sort: 'sequence' %} 
  
  important topics <br/>
  
  {% for topic in importanttopics %}
  
<p>{{ topic.sequence }} - {{ topic.title }}</p>

  {% endfor %}

  Not important topics - test <br/>
  
{% for topic in lowtopics %}
  
<p>{{ topic.sequence }} - {{ topic.title }}</p>
  
{% endfor %}
     
</div>
