---
layout: default
---


 <div class="posts">
   {% for post in site.posts %}
     <article class="post">
  
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
             
         <div class="entry">
          {{ post.excerpt }}
        </div>
     
      <div class="promo"><img src="{{ post.thumbnail-path }}" alt="{{ post.title }}"/></div>
      
      {% if post.description %}
        <span class="body">{{ post.description | markdownify }}</span>
        {% else %}
        <span class="body">{{ post.excerpt | strip_html }}</span>
        {% endif %}
  
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endfor %}
