---
layout: page_bakery
hero_text: Dragons Running Club
title: Dragons Running Club
---

<div class="row"> 
        
        <div class="col-1 menu"></div>
        
         <div class="col-6 menu">
    <ul>
        {% for post in site.posts %}
                <article class="post">
                        <li> 
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        <div class="promo"><img src="{{ post.thumbnail-path }}" alt="{{ post.title }}"/></div>
                        <p class="headline">{{ post.excerpt | strip_html }}</p>
                        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
                        </li>
                </article>
         {% endfor %}
    </ul>
    </div>
        
    <div class="col-6 menu">
    <ul>
        {% for post in site.posts %}
                <article class="post">
                        <li> 
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        <div class="promo"><img src="{{ post.thumbnail-path }}" alt="{{ post.title }}"/></div>
                        <span class="body">{{ post.excerpt | strip_html }}</span>
                        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
                        </li>
                </article>
         {% endfor %}
    </ul>
    </div>
   

             
<div class="col-6 menu">
    <ul>
        {% for post in site.posts %}
                <article class="post">
                        <li> 
                                
          
                                <section class="page-brief" background:url("https://robertwadsworth.github.io/dragons-beta/images/runnerThree.png");>  
                                <div class="small-container">
                                <div class="promo"><img src="{{ post.thumbnail-path }}" alt="{{ post.title }}"/></div>
                                <p class="sub-text">Make friends, stay fit and have fun!</p>
                                <p class="sub-text">{{ post.excerpt | strip_html }}</p>
                                 </div>
                                </section>

         
                        </li>
                </article>
         {% endfor %}
    </ul>
    </div>

</div>

<div class="footer">
  <p>Resize the browser window to see how the content respond to the resizing.</p>
</div>
