      <div class="footer_links">
      <a target="_blank" href="https://twitter.com/SaleDragonsRC">
      <img src="https://robertwadsworth.github.io/dragons-beta/images/Twitter_Logo_White_On_Blue.png" width="30px" height="auto"></a>
      <a target="_blank" href="https://www.facebook.com/DragonsRunningClubSale/">
      <img src="https://robertwadsworth.github.io/dragons-beta/images/FB-f-Logo__blue_100.png" width="30px" height="auto"></a>
      </div>

      <div class="footer_call_to_action">
      Love running, join us.
      </div>
