<div class="row"> 
  
   <div class="col-3 menu">
   <a href="{{ site.url }}"><img src="{{ site.url }}/images/home_hover.png"  width="40px" height="auto" alt="Home"></a>
   <a href="{{ site.url }}/contact_details"><img src="{{ site.url }}/images/email-letter.png" width="40px" height="auto" alt="Contact Us"></a>  
   </div>
       
   <div class="col-9 menu">
  <!-- <a href="{{ site.url }}"><img src="{{ site.url }}/images/dm-logo.png" align="right" alt="Home"></a> -->
     <p class="site-intro">Robert Wadsworth</p>
     <p class="site-subintro"> Delivery Magician - Running Man </p>
  </div>

</div>
