<div class="row"> 
 
   <div class="col-3 menu">
   <a href="robertwadsworth/images/home_hover.png"><img src="robertwadsworth/images/home_hover.png"  width="40px" height="auto" alt="Home"></a>
   <a href="robertwadsworth/images/home_hover.png"><img src="robertwadsworth/images/email-letter.png" width="40px" height="auto" alt="Contact Us"></a>  
   </div>
       
   <div class="col-9 menu">
   <a href="robertwadsworth/images/home_hover.png"><img src="robertwadsworth/images/dm-logo.png" align="right" alt="Home"></a>
   </div>

</div>
