

 <nav class="main-nav">
          <ul>
               <li><a href="/dragons-beta">
                   <img src="https://robertwadsworth.github.io/dragons-beta/images/home_hover.png" class="w3-hover-opacity" width="40px" height="auto" alt="Home"></a>
           </li>
             <li><a href="/dragons-beta">
                   <img src="https://robertwadsworth.github.io/dragons-beta/images/email-letter.png" width="40px" height="auto" alt="Contact Us"></a>
           </li>
          </ul>
      </nav>

      
  
      
