---
layout: default
---
      
     <!-- <section class="site_heading">
      {% include menu_with_icons.html %}
      </section> -->
   
     <section class="page_heading"> 
     {% include page_heading.html %}     
     </section>     
            
     <section class="page_content">
     {{ content }} 
     </section> 

     <!-- {% if page.quick-nav %}
      <section class="quick-nav">
      {% include quick-nav.html %}
      </section> 
     {% endif %} -->

      <!-- {% if page.comments %}
     <section class="feedback">
     {% include disqus.html %}   
     </section>
     {% endif %} -->

     <section class="page_footer"> 
     {% include page_footer.html %}    
      </section>

      <section class="site_footer"> 
     {% include site_footer.html %}    
      </section>
