---
layout: default
---
      
      <section class="site_heading">
      {% include menu_with_icons.html %}
      </section> 
   
     <section class="page_heading"> 
     {% include page_heading.html %}     
     </section>     
            
     <section class="page_content">
     {{ content }} 
     {% include disqus.html %}         
     </section> 

     <section class="page_footer"> 
     {% include page_footer.html %}    
      </section>

      <section class="site_footer"> 
     {% include site_footer.html %}    
      </section>
