---
layout: default
---

     <nav class="main-nav">
          <ul>
               <li><a  href="/dragons-beta/contact_us">Contact Us</a></li>
               <li><a  href="/dragons-beta">Home</a></li>
          
          </ul>
      </nav>
      
     
      <section class="hero">
      <div class="small-container">
   
      <p class="sub-text">
      Dragons Runnig Club - Sale<br/>
      Make friends, stay fit and have fun!
      </p>
      
      </div>
      </section>

      
      <div class="header">
      {{ page.title }}
      </div>
      
      <div class="content">
      {{ content }}
      </div>
      
      {% include footer.html %}

      
   
