---
layout: default
---
      
      <!-- Alternative Text Menu {% include menu_with_text.html %} -->

      {% include menu_with_icons.html %}
      
   
      
      <section class="page_heading">
      
      <div class="row"> 
      
      <div class="col-1 menu">
      <div class="void"> </div>
      </div>

      <div class="col-11 menu">
      <div class="header">
      {{ page.title }}
      </div>
      </div>
      
     </div> 
      
     </section>     
            
 
            
            
      {{ content }}
      
      {% include footer.html %}
